In [22]:
def square(num):
    return num**2

In [23]:
my_nums=[1,2,3,4,5]

In [24]:
map(square,my_nums)

In [25]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [26]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [27]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'Even'
    else:
        return mystring[0]

In [28]:
names=['Andy','Eve','Sally']

In [29]:
list(map(splicer,names))

['Even', 'E', 'S']

In [30]:
def check_even(num):
    return num%2==0

In [31]:
my_num=[1,2,3,4,5,6]

In [32]:
filter(check_even,my_num)

In [33]:
list(filter(check_even,my_num))

[2, 4, 6]

In [34]:
for item in filter(check_even,my_num):
    print(item)

2
4
6

In [35]:
def square(num):
    result=num**2
    return result

In [36]:
square(2)

4

In [37]:
#Converting the above expression into a lambda expression below .

In [38]:
square =lambda num :num**2

In [39]:
square(3)

9

In [40]:
list(map(lambda num : num ** 2 ,my_num))

[1, 4, 9, 16, 25, 36]

In [41]:
    list(filter(lambda num : num%2==0,my_num))

[2, 4, 6]

In [42]:
names

['Andy', 'Eve', 'Sally']

In [43]:
list(map(lambda num :num[0],names))

['A', 'E', 'S']

In [44]:
list(map(lambda num :num[::-1],names))

['ydnA', 'evE', 'yllaS']